<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>积极丶行动的一年。2018年对于你来说是一个新的开始，过去一年那种低迷的感觉在今年会散去，迎来的是全新的开始跟曙光。2018对你而言是个适合多方尝试的一年，虽然刚开始你可能会有所犹豫，会有一种不安全的感觉，不过还是建议你要鼓起勇气，好好规划和开创属于你的未来。因为在18年，你会迎来新的气象，新的工作和新的感情都在萌芽，有新的人事物会进入你的生命中，为你带来改变。关於爱情：单身的人会有新恋情和机会，有伴侣的人可能会迎来生小孩，结婚喜事，或搬新家，买新车等等，进入全新阶段。关於工作：适合转职，寻找新的发财渠道，甚至自己创业也可能获得成功。如果想尝试投资，也能放胆的去做。2018你的开运色是红色，可多穿着红色的衣服与饰品。</string>
		<key>title</key>
		<string>1</string>
	</dict>
	<dict>
		<key>content</key>
		<string>依赖丶寻找自我的一年。2018年对于你而已，重点在于人际关系。这一年中，或许有人会跟你分道扬镳，也有人对你更加依赖，你和某一些人的关系会更为紧密，甚至不排除进入到一段新的关系中，可能会和他人合伙创业，和某一位之前不太联系的朋友或者家人关系变得密切，经常联络等。而这一年你也可能会太过在意他人的目光而束缚自己的发展，你想前进，但又觉得没安全感，怕自己无法成功，怕身边的人反对。你需在依赖和被依赖之间寻找平衡及自我。关於爱情：你可能陷入了两难的抉择，也可能为了满足他人想法而失去自我，付出的太多，你需要思考自己想要的是什么。关於工作：会有伯乐欣赏你，身边的同事也会依赖你的决策，你感觉自己变重要了。另外也会有人找你合伙一起创业，可考虑看看。2018你的开运色是橘色，可多穿着橘色的衣服与饰品。</string>
		<key>title</key>
		<string>2</string>
	</dict>
	<dict>
		<key>content</key>
		<string>拓展丶改变的一年。2018年对于你而言，你可能会觉得生活的步调永远是一成不变的，你开始难以持续忍受这样的生活节奏了，你觉得你需要改变。今年你很可能会改变发型，开始变得注重穿着和打扮，也更愿意去参加聚会，认识更多人，拓展自己交友圈。你也可能会想出国留学，或工作上转换一下方向。2018对你而言，是需要学着利用这些改变来为自己的生活带来正面和积极的影响，用你的耐心和毅力去完成自己的梦想。关於爱情：你认识的人变多了，你的桃花运也跟着大开，身边不乏异性追求，脱单的机会大增。有伴侣的人，你想为彼此的生活注入新的活力，可能有生小孩的规划，需要多去营造浪漫的相处机会。关於工作：你发挥所长，希望能在事业更上层楼，也不排除跳槽或是自己当老板，也可能去考证照或是留学，改变是件好事，但你需要更多的耐心去完成计划。2018你的开运色为黄色。</string>
		<key>title</key>
		<string>3</string>
	</dict>
	<dict>
		<key>content</key>
		<string>稳定丶延续的一年。你在2018年不见得会有多大的变化，不过你会变得更成熟，明白身上的责任，你需要做的是变的更努力，更踏实，一定要把基础给打好。今年你需要去把专注点放在自己的身上了，你要更努力去把自己的角色扮演好，也要把兴趣跟专业学得更深入，只要你努力，在年底前一定会有所收获。这一年虽然少了些乐趣，却多了稳定。2018你不适合做出太大变动，你需多方思考，而非意气用事。关於爱情：你变得较为理性，也可能更现实了，你需要仔细的评估自己的对象和感情，你不再盲目追求风花雪月的感情，而是对自己好好负责，也希望另一半能对你负责，给你一个好的未来。单身的人标准变高。关於工作：做任何决定之前，你都需再三的思考。建议你在现有领域可多给自己一些时间和空间去发展，去往深度李去发展，而不再是广度。2018你的开运色为绿色，有疗愈之感。</string>
		<key>title</key>
		<string>4</string>
	</dict>
	<dict>
		<key>content</key>
		<string>选择丶重新开始的一年。2018对于你而言，可能是充满选择的一年。你可能对人生会有另外一番体悟，或许会考虑结束某一段虐恋，也可能离开某一个你已厌倦的工作，这代表你已经变得相对成熟了。虽然对未来你仍然有点恐惧，然而这却也是促使你不得不做出改变的主要原因。关於爱情：这会是个思考你感情生活与未来的时刻，对于不适合的对象，你终于下定决心结束。单身的人也不会使自己将就，而是认真的去挑选对像。关於工作：虽然你想离职，但是心里却很犹豫，很彷徨，因为你还没想好未来。建议你花一些时间去规划，年中之后适合离职。2018年你的开运色为蓝色。</string>
		<key>title</key>
		<string>5</string>
	</dict>
	<dict>
		<key>content</key>
		<string>和谐丶感性的一年。2018年对于你来说，你会发现自己更加感性了，你会更顺从内心去做决定，而非理性的判断局势。你终于明白了你想要的会比你应该做的，更使你充满热情。2018年，你对自己的爱情丶亲情丶友情也更为重视，同时也有更高的期待，更愿意花心思经营自己和身边人的感情联系，你不想再孤单一人，希望自己付出的同时，对方也能给你相同的回报。关於爱情：你渴望爱情，因此也会较为积极的去认识异性，朋友丶长辈介绍的你也不会太过于排斥，大有脱单的机会。有伴侣的人感情甜蜜，能够重燃爱火，希望你能给对方更多一些空间以及弹性，这样有助于你们关系的发展，而不再是紧绷的。关於工作：你和同事以及领导的关系，会变得更融洽，你对自己也有更高的期许和期待，这会是事业比较顺利的年份。2018年你的开运色为淡紫色。</string>
		<key>title</key>
		<string>6</string>
	</dict>
	<dict>
		<key>content</key>
		<string>成长丶爱自己的一年。2018年对于你而言，会是使你更认识自己的一年。2018其实会有许多变化的机会，单身的人可能遇上条件不错的对像，在职的人会遇到跳槽、升迁、调部门的机会，甚至可能遇上能到海外发展的机会，这些都会使你在选择时更加深刻的明白，自己到底想怎么样的改变，对不想要的事勇敢说不，学会去拒绝一  些事情。这一年，沉思与独处是很重要的，因为你需要空间去和自己对话，去想明白自己的选择，自己想要什么，这样你才可以做出最好的决定。关於爱情：你不会来者不拒，对不适合的对象，你会勇敢的拒绝，放手。而对于对的人，你也会用尽心尽力的去争取、把握和珍惜。关於工作：工作方面可能会有一些调动和变动，虽然可能会不知如何选择，会觉得烦恼，但是当你真的了解想要的究竟是什么以后，你会做出正确的选择。别害怕改变，要忠于自己的心意，一切都会往好的去发展。2018年你的开运色为紫红色。</string>
		<key>title</key>
		<string>7</string>
	</dict>
	<dict>
		<key>content</key>
		<string>收获丶脚踏实地的一年。如果过往你一直在前往梦想的道路一步一步努力着，那么2018年对于你来说就是收获的一年，你可能会看到之前一直以来努力的成果跟收获。而过往若是走的方向错误，今年你也会看到了影响，并且希望你能开始修正自己的规划跟方向。另外，以往你一直在逃避和忽略的事，今年不可避免的都会一一摊在面前，需要你自己去面对和解决。你可能会花时间去挽回一段感情的裂痕，或慢慢去改正你的不良嗜好，虽然过程颇为辛苦，但是最终都会很值得。关於爱情：你可能会收获一段不错的感情，也可突破以往的钳制，你不再是被动的，会积极去经营感情跟人际圈。有伴侣的人，以往的问题会摊在阳光下，面临非好即坏的两极化情况，就看你们有没有心去解决，或是寻找彼此都能接受的平衡点。关於工作：你会看到以往的付出有所成果了，你在专业领域中能够得到提升，财运上也会有所成长。建议你，如果遇上问题，在情绪不稳时别下决定，先问问身边的长辈，他们会是你的贵人。2018年你的开运色为金色。</string>
		<key>title</key>
		<string>8</string>
	</dict>
	<dict>
		<key>content</key>
		<string>沉淀丶酝酿的一年。2018对于你而言，不会有那一种特别想突破的感觉，你需要的是酝酿实力，整装待发。2018年你可能常会有一种想一个人静一静的感觉，你需要独处，需要思考。你想要远离现在的生活，可能是出国旅游，也可能是出国留学，或是出国外派，也可能想要进修，得到进一步的提升，让自己接触不同的领域。这一年虽然不会出现什么大成功的事，但随着你一步一步的准备，随着你能力的提升，你可以在迷茫中找出未来的方向。关於爱情：你的心态变得较为柔软，觉得顺其自然最重要，不会再去强求一定要有什么样的进展，也不一定要赶在今年结婚或是找个人交往，你需更多的时间去理清你的想法，关于爱情，你还不确定自己想要是什么，所以还需要等待一段时间。关於工作：你想抛开一切去流浪，你可能会选择休长假去出国旅行放空自己，也可能自请外派的出差机会，或利用下班的时间去上课，或者去考考证照。虽然看似这一整年并没什么太大进步，但其实你的一步步选择也在规划和挖掘你自己的未来。2018年你的开运色为黑色。</string>
		<key>title</key>
		<string>9</string>
	</dict>
</array>
</plist>
